<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shove Charts</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
  </head>
  <body>
    <div class="container">
        
        <h1 class="text-left">Nash Equillibrium Shove/Call</h1>
        
        <div><h3><p>To purchase 1 Query for 1 Eth: </p></h3>
        <h4><p>1) Send a transaction to this address (use Rinkeby testnet!): 0x627306090abaB3A6e1400e9345bC60c78a8BEf57</p></h4>
<!--
      <button class="get">Get Challenge</button>
    --> 

  
   <!--
        <div>
            
         <form>
            <div class="form-group" id="formValidate" name="formValidate">
                <label for="validationForm">Comfirmed txid: </label>
                <textarea class="form-control" id="txidTextbox" rows="1"></textarea>
            </div>
                
              <div class="form-group" id="formValidate" name="formValidate">
                <label for="validationForm">Validation code: </label>
                <textarea class="form-control" id="txidTextbox" rows="1"></textarea>
            </div>
    
       </form>
        </div> 
      
    
        <div class="row">
            <div class="col-sm-4">
                <h3></h3>
            </div>
            <div class="col-sm-4">
                <h3></h3>
            </div>
            <div class="col-sm-4">
                <h3></h3>
            </div>
        </div>   
         -->
        <h4><p>2) Log into metamask.</p></h4>
         <h4><p>3) Click "Get Challenge" to recieve your signature request (you must sign with the same address you made your transaction with!).</p></h4>
          <h4><p>4) Sign the challenge when metamask pops up.</p></h4>
          <h4><p>5) Click Load Data to recieve your solutions. </p></h4>
      <pre class="challenge"></pre>
      <pre class="signature"></pre>
        <div> 
          <button type="submit" name="load_data" id="load_data" class="btn btn-primary btn-lg">Get Challenge</button>
        </div>
  <div class="row">
            <div class="col-sm-4">
                <h3></h3>
            </div>
            <div class="col-sm-4">
                <h3></h3>
            </div>
            <div class="col-sm-4">
                <h3></h3>
            </div>
        </div>   
        <div> 
          <button type="submit" name="verify" id="verify" class="btn btn-primary btn-lg">Load Data</button>
        </div>

         
         
    <div class="row"> 
        <form method="post" action="/calculate">

         
          <div class="form-group" id="form1" name="form1">
            <label for="exampleFormControlInput1">Antes: </label>
             <select class="form-control" id="formSelectorantes" name="formSelectorantes">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Position: </label>
            <select class="form-control" id="formSelectorposition" name="formSelectorposition">
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
              <option>sb</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Effective Bbs: </label>
            <select class="form-control" id="formSelectoreffectiveBbs" name="formSelectoreffectiveBbs">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">ICM or cEV: </label>
              <select class="form-control" id="formSelectoricmCev" name="formSelectoricmCev">
              <option>ICM</option>
              <option>cEV</option>
            </select>
          </div>
        </form>
        </div>      
        
    <div class="row">
        <div class="col-sm-4">
            <h3></h3>
        </div>
        <div class="col-sm-4">
            <h3></h3>
        </div>
        <div class="col-sm-4">
            <h3></h3>
        </div>
    </div> 
        <!--
        <div id="input_table">
            <table class="table table-bordered table-striped table-hover" name="table1" id="table1">
                <tr>
                    <th colspan="4">Inputs:</th>
                </tr>    
                <tr>
                    <td colspan="4">-</td>
                </tr>
            </table>
        </div>
                -->

      {{{body}}}

<div id="output_table_div">
   

</div>
</div>
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.amd.js"></script>
      
      <!-- Include all compiled plugins (below), or include individual files as needed  --> 
   
<!--
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/appnewtester.js"></script>
    <script src="js/getInputs.js"></script>
      <script src="js/getMinraisecalls.js"></script>

    -->

      <script type="text/javascript">
let challenge = null;
let signature = null;
  if (web3) {
    console.log("web3");
  } else {
    alert("No web3 detected. Please install metamask");
  }
$('#load_data').click(function(){
console.log('clicked');

 //$('#load_data').on('click', function () {
//  $('.get').on('click', function () {
    $('.challenge').empty();

      //var data = {test:'data'};

    $.get('https://nashcalcwebappfour.herokuapp.com/auth/' + web3.eth.accounts[0], (res) => {
      challenge = res
      console.log(res)
      res.forEach(line => {
        $('.challenge').append(line.name);
        $('.challenge').append('<br>');
        $('.challenge').append(line.value);
        $('.challenge').append('<br>');
      })
      const from = web3.eth.accounts[0];
      const params = [challenge, from];
      const method = 'eth_signTypedData';
      web3.currentProvider.sendAsync({
        method,
        params,
        from
      }, async (err, result) => {
        signature = result.result;
        if (err) {
          return console.error(err);
        }
        if (result.error) {
          return console.error(result.error);
        }
        $('.signature').text(signature);
      });
    });
  });
  $('#verify').on('click', function() {
      var antes = $('#formSelectorantes').val();
      var position = $('#formSelectorposition').val();
      var effectiveBbs = $('#formSelectoreffectiveBbs').val();
      var icmCev = $('#formSelectoricmCev').val();

    $.get('https://nashcalcwebappfour.herokuapp.com/auth/' + challenge[1].value + '/' + signature + '/' + antes + '/' + position + '/' + effectiveBbs + '/' + icmCev, (res) => {
     
document.getElementById("output_table_div").innerHTML += res;
/*
      if (res === web3.eth.accounts[0]) {
        $('.success').show();
      } else {
        $('.fail').show();
      }
*/

    });
  });
</script>

  </body>
</html>

